{% extends 'production_tracker/base.html' %} {% block content %}
<h1>Pick Orders</h1>

<form class="filter-form" method="get">
  <div class="filter-group">
    <label for="search_name">Search customer:</label>
    <input
      type="text"
      id="search_name"
      name="q"
      value="{{ request.GET.q }}"
      placeholder="Search by name or phone..."
    />
    <div id="customer-name-suggestions" class="custom-search-results"></div>
  </div>
  <button type="submit" class="button">Search</button>
</form>

{% if orders %}
<form method="post" action="{% url 'create_invoice' %}">
  {% csrf_token %}
  <input type="hidden" name="q" value="{{ request.GET.q|default:'' }}">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Amount</th>
        <th>Customer Name</th>
        <th>Mobile Number</th>
        <th>Add</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
        <td>₹{{ order.amount_in_rupees }}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{ order.customer.phone }}</td>
        <td>
          <input type="checkbox" name="order_ids" value="{{ order.id }}" {% if order.is_selected %}checked{% endif %} />
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="button">Create Invoice</button>
</form>
{% else %} {% if request.GET.q %}
<p>No orders found for the given search criteria.</p>
{% endif %} {% endif %} {% endblock %} {% block extra_js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchNameInput = document.getElementById("search_name");
    const customerNameSuggestions = document.getElementById(
      "customer-name-suggestions"
    );

    searchNameInput.addEventListener("keyup", function () {
      const query = searchNameInput.value;
      if (query.length > 2) {
        fetch(`/api/customer-search/?query=${query}`)
          .then((response) => response.json())
          .then((data) => {
            customerNameSuggestions.innerHTML = "";
            data.forEach((customer) => {
              const suggestionDiv = document.createElement("div");
              suggestionDiv.innerHTML = `${customer.name} - ${customer.phone}`;
              suggestionDiv.style.cursor = "pointer";
              suggestionDiv.addEventListener("click", function () {
                searchNameInput.value = customer.name;
                customerNameSuggestions.innerHTML = "";
                document.querySelector(".filter-form").submit();
              });
              customerNameSuggestions.appendChild(suggestionDiv);
            });
          });
      } else {
        customerNameSuggestions.innerHTML = "";
      }
    });
  });
</script>
{% endblock %}
